body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial; }

#container {
  width: 960px;
  margin: 0 auto; }

.logo {
  width: 100px;
  float: right;
  resize: both;
  flex: 1; }

ul#nav {
  width: 550px;
  list-style: none;
  overflow: hidden;
  margin: 50px auto 25px auto;
  flex: 1; }
  ul#nav li {
    width: 126px;
    height: 33px;
    float: left;
    padding: 13px 0 0 0;
    background: url(images/nav-bg.jpg);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }

* {
  box-sizing: border-box; }

/* Center website */
.main {
  max-width: 1000px;
  margin: auto; }

h1 {
  font-size: 50px; }

.row {
  margin: 8px -16px; }

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px; }

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%; }

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both; }

.content {
  background-color: tan;
  padding: 10px; }

.content:hover {
  transform: scale(1.2); }

@media (max-width: 900px) {
  .column {
    width: 50%; } }
@media (max-width: 600px) {
  .column {
    width: 100%; } }
/*overlay*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; }

/*Start of Contact*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #45a049; }

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px; }

/*End of Contact*/
/*image pop out*/
#boat {
  border-radius: 5px;
  cursor: pointer;
  transition: .03s; }

#boat:hover {
  opacity: 0.7; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9); }

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px; }

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

/* animation */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: .6s; }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
/* close button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: .3s; }

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/*small screens*/
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }

/*# sourceMappingURL=stylesheet.css.map */
